<a href="https://colab.research.google.com/github/ppkgtmm/sentiment/blob/main/data_gathering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import pandas as pd
# df = pd.read_csv('./amz_reviews.csv',engine='python', encoding='utf-8')

In [ ]:
# df = df[['reviews.rating','reviews.text']]

In [ ]:
# df.columns = ['rating','text']

In [ ]:
# df['rating'] = df['rating'].values.astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# df.shape

(34660, 2)

In [ ]:
# list(df.text[df.rating<3])

In [1]:
import pandas as pd
def get_data(path,columns):
  df = pd.read_csv(path)[columns]
  return df

In [2]:
amz = get_data('/content/drive/My Drive/amz_reviews.csv',['text','target'])

In [3]:
amz.sample(5)

                                                    text    target
16595  Kindle paper white is great. Easy to read with...  positive
24054  Works great plus look at YouTube video's to se...  positive
26598  Best kindle charger ever. Took 30 minutes to b...  positive
2625   Great light weight tablet that uploads quickly...  positive
3744   I love amazon tablets that I bought them for m...  positive

In [10]:
amz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32315 entries, 0 to 32314
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    32315 non-null  object
 1   target  32315 non-null  object
dtypes: object(2)
memory usage: 505.0+ KB

In [15]:
amz.groupby('text').count().reset_index() \
.sort_values('target', ascending=False).head(5)

                                                    text  target
0      "Alexa" Amazon Echo is the perfect personal as...       1
21538  Purchased this for my granddaughter, she is 13...       1
21551  Purchased this for my nephew for Christmas. Af...       1
21550  Purchased this for my neighbor and their kids ...       1
21549  Purchased this for my mother. She loves it, ju...       1

In [4]:
nf = get_data('/content/drive/My Drive/neg_nf.csv',['text'])
nf['target'] = 'negative'

In [5]:
nf.sample(5)

                                                   text    target
1084  there is something in full frontal , i guess ,...  negative
53    pc stability notwithstanding , the film suffer...  negative
2134  flashy , pretentious and as impenetrable as mo...  negative
3181  cox offers plenty of glimpses at existing phot...  negative
1620  well-nigh unendurable . . . though the picture...  negative

In [16]:
nf.groupby('text').count().reset_index() \
.sort_values('target', ascending=False).head(5)

                                                   text  target
0      " abandon " will leave you wanting to abandon...       1
3561  some movies were made for the big screen , som...       1
3559  some motion pictures portray ultimate passion ...       1
3558  some like it hot on the hardwood proves once a...       1
3557  some fine acting , but ultimately a movie with...       1

In [6]:
imdb = get_data('/content/drive/My Drive/movies_imdb.csv',['text','target'])

In [7]:
imdb.sample(5)

                                                    text    target
41041  Here's a horror version of PRISCILLA: QUEEN OF...  negative
12059  As part of an initiation prank Julie (Meg Till...  positive
41875  This juvenile, bland flick is strictly for tee...  negative
32620  At least if you're a Disney fanatic (well, of ...  negative
2000   Billy Hughes is a mute young lady working for ...  positive

In [17]:
imdb.groupby('text').count().reset_index() \
.sort_values('target', ascending=False).head(5)

                                                    text  target
26260  Loved today's show!!! It was a variety and not...       5
11782  Hilarious, clean, light-hearted, and quote-wor...       4
12073  How has this piece of crap stayed on TV this l...       3
46495  When i got this movie free from my job, along ...       3
42832  This show comes up with interesting locations ...       3

In [8]:
stf = get_data('/content/drive/My Drive/movies_stanford.csv',['text','target'])

In [9]:
stf.sample(5)

                                                    text    target
115    Byler reveals his characters in a way that int...  positive
7474   Sex ironically has little to do with the story...  negative
11820                         ... a confusing drudgery .  negative
7330   A fresh , entertaining comedy that looks at re...  positive
9197   This story of unrequited love does n't sustain...  negative

In [19]:
stf.groupby('text').count().reset_index() \
.sort_values('target', ascending=False)

                                                    text  target
4316                                        Hey Arnold !       3
10884                                     What 's next ?       3
10548                             True Hollywood Story .       2
3881   For a film that 's being advertised as a comed...       2
7167               One of the worst movies of the year .       2
233                           ... a pretentious mess ...       2
11611  ` Stock up on silver bullets for director Neil...       2
7735                                            See it .       2
4568                                         I like it .       2
10473                                          Too bad .       2

In [ ]:
final =  pd.concat([amz, nf, imdb, stf], axis= 0).reset_index().drop(columns=['index'])

In [ ]:
# final = final[final.target != "neutral"]
final.dropna()

                                                    text    target
0      This product so far has not disappointed. My c...  positive
1      great for beginner or experienced person. Boug...  positive
2      Inexpensive tablet for him to use and learn on...  positive
3      I've had my Fire HD 8 two weeks now and I love...  positive
4      I bought this for my grand daughter when she c...  positive
...                                                  ...       ...
99496                                    A real snooze .  negative
99497                                     No surprises .  negative
99498  We 've seen the hippie-turned-yuppie plot befo...  positive
99499  Her fans walked out muttering words like `` ho...  negative
99500                                In this case zero .  negative

[97259 rows x 2 columns]

In [ ]:
# final.to_csv('final.csv')