<a href="https://colab.research.google.com/github/ppkgtmm/sentiment/blob/main/data_gather_amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [16]:
train_path = '/content/drive/MyDrive/sentiment/data/train.csv'
cols = ['text','target']

## Read train data

In [17]:
train = pd.read_csv(train_path)[cols]
train.sample(5)

                                                      text  target
396668   Dumb movie but ok entertainment: Ok to watch i...       0
1129462  Skin Benefits: This is a great product and I a...       1
1269586  Learning to Fly: This book is an encouraging t...       1
2935801  Make available on DVD!!: One of the best telev...       1
3146111  LOVE IT!: I love this series, my boyfriend int...       1

## Check duplicate

In [18]:
train[['text']].describe()

                                                     text
count                                             3600000
unique                                            3600000
top     The Slow Life.... or the REALLY slow life: I w...
freq                                                    1

In [19]:
train.groupby('target').describe().reset_index()

  target     text  ...
            count  ...                                                top freq
0      0  1800000  ...  The Slow Life.... or the REALLY slow life: I w...    1
1      1  1800000  ...  An awesome book about a hasbeen, only good for...    1

[2 rows x 5 columns]

In [20]:
data, _ = train_test_split(train, train_size=0.1, \
                           stratify=train['target'], random_state=123456)

In [21]:
data.describe().transpose()

           count  mean       std  min  25%  50%  75%  max
target  360000.0   0.5  0.500001  0.0  0.0  0.5  1.0  1.0

In [22]:
data['target'].unique()

array([1, 0])

In [23]:
data.groupby('target').count().reset_index()

   target    text
0       0  180000
1       1  180000

In [24]:
data.to_csv('/content/drive/MyDrive/sentiment/data/data.csv')