<a href="https://colab.research.google.com/github/ppkgtmm/sentiment/blob/main/data_gather_amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train_path = '/content/drive/MyDrive/sentiment/data/train.csv'
cols = ['text','target']

## Read train data

In [3]:
train = pd.read_csv(train_path)[cols]
train.sample(5)

                                                      text  target
3269352  When Your Time Is Up: This book is not for the...       1
268867   horton hears a who: horton hears a who is a cu...       1
2942883  Truly excellent story - and absolutely believa...       1
923073   Thumping dumpings: Upbeat party collaboration ...       0
2413171  I was not sent the item I ordered: This was th...       0

## Check duplicate

In [4]:
train[['text']].describe()

                                                     text
count                                             3600000
unique                                            3600000
top     The Slow Life.... or the REALLY slow life: I w...
freq                                                    1

In [5]:
train.groupby('target').describe().reset_index()

  target     text  ...
            count  ...                                                top freq
0      0  1800000  ...  The Slow Life.... or the REALLY slow life: I w...    1
1      1  1800000  ...  An awesome book about a hasbeen, only good for...    1

[2 rows x 5 columns]

In [8]:
data, _ = train_test_split(train, train_size=0.1, \
                           stratify=train['target'], random_state=123456)

In [12]:
data.describe().transpose()

           count  mean       std  min  25%  50%  75%  max
target  360000.0   0.5  0.500001  0.0  0.0  0.5  1.0  1.0

In [14]:
data['target'].unique()

array([1, 0])