<a href="https://colab.research.google.com/github/ppkgtmm/sentiment/blob/main/data_gather_amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
train_path = '/content/drive/MyDrive/sentiment/data/train.csv'
cols = ['text','target']

## Read train data

In [9]:
train = pd.read_csv(train_path)[cols]
train.sample(5)

                                                      text  target
677331   GREAT! A MUST READ FOR ALL ROMANCE FANS!: The ...       1
1432228  LiberalandProud: You should read this book to ...       0
3521664  good remixes: i really don't know the tracks h...       1
1555562  Get's Better in each Season: Each time Rita La...       1
3443982  not zakk best licks: first thing: the cd's tra...       1

## Check duplicate

In [12]:
train[['text']].describe()

                                                     text
count                                             3600000
unique                                            3600000
top     Oh the Agony!: She has valid things to say, bu...
freq                                                    1